# Wk 1: Intro to Python
Week 1 we cover the basics of Python, including syntax, variable assignment, and for loops.

### Python vs. MATLAB
Most of you have some experience with MATLAB, so I want to point out a few key differences
-  Indexing starts at 0 in Python, not 1
-  Python is FREE and open source. We can access and install packages that others have shared. 
-  Spacing and tabs matter in Python. Indentation indicates the contents of a loop. This means you don't need curly braces or "end" statements like in MATLAB

See this link for a useful side-by-side of some of the basics http://reactorlab.net/resources-folder/matlab/P_to_M.html

### Print statements
You need "print" in a script if you want to display something as output.

In [4]:
#all the same
print('Hello World')
print("Hello World")
print ('Hello World')

Hello World
Hello World
Hello World

In [5]:
print('Hello World', 5,6,7,8)

Hello World 5 6 7 8

Each print statement starts a new line. You can also use special characters in strings like \n or \t to make spacing

In [28]:
print('Line 1')
print('\nLine 2') #add a space between lines
print('\tLine 3') #tab
print('\tLine 4')

Line 1

Line 2
	Line 3
	Line 4

### Variable assignment and types

In [9]:
a = 3
b = 4

a+b

7

In [10]:
a/b

0.75

In [13]:
type(a)

#Python assumes the type of a variable (i.e., integer, string, float, list, etc)

int

In [15]:
c = 3.0
type(c)

float

In [16]:
a+c

6.0

In [18]:
d = "hello"
type(d)

str

In [20]:
#you can force a variable to be a certain type by typecasting. Let's change c to an integer
c = int(c)
c

3

In [21]:
str(c)

'3'

### Indexing
You can index any iterable variable using [ ]. "Iterables" include strings and lists

In [29]:
name = 'Shane'
print(name[0]) #first element
print(name[1])
print(name[2])
print(name[-1]) #last element
print(name[1:3]) #element 1 up to (but not including) element 3

S
h
a
e
ha

In [30]:
mylist = [1,2,3,4,5]
print(type(mylist))
print(mylist[1])

<class 'list'>
2

In [32]:
#lists can hold anything
mylist = [1, 'Shane', 5.0]
print(mylist)

[1, 'Shane', 5.0]

### Prompting user for input

In [ ]:
myinput = input('What is your name? ')

In [ ]:
print(myinput)